body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 35px; /* Réduit la hauteur du header */
    background-color: #00AA11;
    color: #fff;
    padding: 5px 20px; /* Réduit le padding du header */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    flex: 1; /* Utilisation de flex pour remplir l'espace disponible */
    display: flex;
    align-items: center;
    margin-right: 20px; /* Réduit la marge à droite */
}

.search-bar input[type="text"] {
    padding: 8px; /* Augmente le padding */
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 20px;
    width: 100%; /* La barre de recherche prend toute la largeur */
}

nav {
    display: flex;
    gap: 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
}

nav a:hover {
    background-color: #575757;
}

.bandeau {
    width: calc(100% - 100px);
    height: calc(90vh - 100px);
    margin: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bandeau img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.logo h1 {
    font-family: 'Racing Sans One', sans-serif;
    color: #fff;
}

.logo h1:hover {
    background-color: #ccddcc;
    cursor: pointer;
}

.bandeau .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bandeau .logo h1 {
    font-size: 120px;
    margin: 0;
}

.bandeau {
    width: calc(100% - 100px);
    height: calc(90vh - 100px);
    margin: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bandeau img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.logo h1 {
    font-family: 'Racing Sans One', sans-serif;
    color: #fff;
}

.logo h1:hover {
    background-color: #ccddcc;
    cursor: pointer;
}

.bandeau .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bandeau .logo h1 {
    font-size: 120px;
    margin: 0;
}

.bouton {
    font-family: Poppins;
    background-color: #F1F1F1; /* Couleur de fond */
    color: green; /* Couleur du texte */
    padding: 15px 30px; /* Augmenter l'espacement intérieur */
    border: none; /* Pas de bordure */
    border-radius: 20px; /* Coins arrondis */
    cursor: pointer; /* Curseur de la souris */
    font-size: 12px; /* Taille de la police augmentée */
    transition: background-color 0.3s; /* Transition pour l'effet de survol */
    display: block; /* Affichage en bloc */
    text-align: center; /* Centrer le texte */
    margin: 70px auto 0; /* Centrer le bouton et ajouter de l'espace au-dessus */
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.2); /* Ombre à gauche et en bas */
}

.bouton:hover {
    background-color: #ccddcc; /* Couleur de fond au survol */
}

footer {
    background-color: #00AA11;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-section a {
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.footer-section a:hover {
    background-color: #fff;
    color: #00AA11;
}

.top-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.top-section .footer-section,
.top-section .logo {
    margin: 45px;
}

.separator {
    border-top: 1px solid white;
    width: 80%;
    margin: 0 auto;
}

.bottom-section {
    margin-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

.social-icons {
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 100px;
}

.social-icons a {
    color: white;
    font-size: 24px;
    margin-right: 40px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #00AA11;
}

.crédits {
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
